* {
    margin: 0px;
    padding: 0;
}

:root {
    --pink-bg: #FEE3C6;
}

body {
    /* background-color: #FEE3C6; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--pink-bg);
    /* border: 2px solid; */
    /* margin: 0; */
}

header {
    width: 100%;
    height: 45px;
    /* display: flex; */
    /* display: block; */
    /* justify-content: flex-end; */
    align-items: center;
    /* border: 2px solid; */
    position: static;
    background-color: #fee3c6a8;
    backdrop-filter: blur(8px);
    margin: 10px auto;
    z-index: 5;
}

header ul{
    width: 60%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid ; */
    float: right;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 2px 0px #412710;
}

ul a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
    /* border: 2px solid; */
    padding: 1% 2%;
    border-radius: 10px;
}

ul a:hover{
    background-color: #412710;
    color: wheat;
}


.shop {
    /* margin: 10px auto; */
    transition: height 1.5s ease-in-out;
    margin-bottom: 100px;
    position: relative;
    outline: 1px solid #1b1007;
    /* box-shadow: 0 0 5px 1px #412710; */
    /* aspect-ratio: 3/1; */
}

.shop img {
    width: 100%;
    height: 100%;
}
.stock-prices-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 110px));
    justify-content: center;
    gap: 20px;
    /* border: 2px solid; */
}

.stock-img {
    position: relative;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.stock img {
    max-width: 100px;
    max-height: 100px;
    
}

.stock .name {
    font-size: clamp(0.8rem, 2vw, 1rem);
    position: absolute;
    bottom: 0px;
    background-color: #fee3c681;
    color: #412710;
    backdrop-filter: blur(5px);
    border-radius: 7px;
    padding: 5px;
    font-weight: 500;
    text-align: center;
    width: 97%;
    overflow: hidden;
    
}
.price span, .shipping span {
    text-decoration: line-through;
}
.shippingAndPrice {
    display: grid;
    grid-template-columns: 1fr;
    /* border: 1px solid; */
    text-align: center;
    height: 35px;
    font-size: clamp(0.5rem, 2vh, 5rem);
    margin: 3px;
}

.stock button {
    width: 80%;
    height: 30px;
    background-color: #412710;
    font-weight: 500;
    color: #FEE3C6;
    cursor: pointer;
    margin: 0px auto;
    font-size: 0.7rem;
}

.stock a {
    text-decoration: none;
}









.products1 {
    margin-top: 35px;
    opacity: 0;
    /* transform: translateX(100px); */
    transform: scale(0.8);
    transition: all 1s;
    /* border: 1px solid; */
}
.products1 img {
    /* filter: brightness(0.6); */
}
.products1 p{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    color: #412710;
    
}

.products1 a{
    text-decoration: none;
}



.container1 {
    position: relative;
    height: 100px;
    width: 99%;
    margin: 0 auto;
    /* border: 2px solid; */
    /* overflow: hidden; */
    
    
}


.inner-container1 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    /* border: 2px solid; */
    animation: shoppy 15s linear infinite alternate;
    overflow: hidden;
    /* border: 2px solid; */
}

.space {
    margin-top: 35px;
    opacity: 0;
    /* transform: translateX(-100px); */
    transition: all 1s;
} 
.reverse {
    animation: shoppy 15s linear infinite alternate-reverse;
    
}
@keyframes shoppy {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.section2 {
    /* display: grid; */
}

.container {
    width: 100%;
    height: auto;
    margin: 35px auto;
    border-radius: 30px;
    box-shadow: 0px 0px 2px 0px #7a746f;
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s;
    background-color: #423022;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}
.write-ups {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.down {
    display: flex;
    flex-direction: row-reverse;
}

button, .write-ups a {
    width: 65%;
    display: block;
    margin: 17px auto;
    height: 40px;
    border-radius: 10px;
    background-color: #ccbdb1;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.705);
    animation: scaling 0.8s linear alternate infinite;
}

.container button:hover{
    background-color: peru;
    border-color: #412710;
    cursor: pointer;
}
@keyframes scaling {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}


.container .pic-container {
    width: 100%;
    /* aspect-ratio: 1; */
    max-height: 250px;
    display: flex;
    margin: 0;
    /* border: 2px solid; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}

.container .pic-container img {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    
}
.section2 .container h3{
    color: #E0D4CB;
    font-size: clamp(1.4rem, 2vh, 5vh);
    padding: 15px;
    line-height: 1.2em;
    letter-spacing: -0.5px;
    /* border: 1px solid; */
}   

.section2 .container p {
    font-size: 0.9rem;
    color: #e0d4cbc5;
    padding: 0 15px;
}


.spec-section {
    width: 100%;
    height: 70vh;
    background-color: rgb(228, 217, 217);
    display: flex;
    position: relative;
    margin-top: 100px;
    /* opacity: 0; */
    /* transform: translateX(100px); */
    transition: all 1s;
    
}

.spec-section .shoe {
    width: 50%;
    height: 300px;
    /* border: 7px solid; */
    /* opacity: 0; */
    /* transform: translateY(100px); */
    transition: all 1s;
}

.shoe img {
    width: 100%;
}

.p-wear {
   width: 50%;
    /* opacity: 0; */
    /* transform: translateX(100deg); */
    transition: all 1s;
}

.p-wear img {
    width: 100%;
    /* filter: sepia(1) hue-rotate(180deg) saturate(1); */
    /* filter: grayscale(1); */
    /* filter: brightness(1.3); */
    /* filter: contrast(1.5); */
    /* filter: invert(); */
    /* filter: brightness(1) saturate(90%) invert(23%) sepia(92%) saturate(77%) hue-rotate(180deg); */
    /* mix-blend-mode: luminosity; */
    /* background-color: red; */
}

.p-wear .p-wear-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.452); */
    z-index: 1;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px;
    color: white;
}


.div {
    background-image: url(Shoes\ Sale\ \(Card\ \(Landscape\)\).gif), linear-gradient(black, white);
    background-blend-mode: overlay;
    width: 100%;
    height: 60vh;
    z-index: 2;
    display: block;
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s;
}

.div img {
    width: 60%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.nisha-banner img{
    width: 100%;
}
.nisha-banner {
    border-bottom: 5px solid rgb(155, 0, 0);
}


footer {
    display: block;
    width: 100%;
    /* height: 200px; */
    background-color: #1b1007;
    display: grid;
    grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
    /* grid-template-rows: 1fr 1fr; */
    justify-content: space-around;
    /* align-items: center; */
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

footer h4 {
    color: rgba(222, 184, 135, 0.644);
    text-align: center;
    margin-bottom: 15px;
}

.footer-item {
    /* padding: 3px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer a {
    color: #ccbdb1bb;
    list-style-type: none;
    /* margin: 1px; */
    cursor: pointer;
}

footer .copyright {
    /* color: var(--pink-bg); */
    color: rgba(222, 184, 135, 0.479);
    /* color: grey; */
    font-weight: 500;
    /* text-wrap: nowrap; */
    /* border: 1px solid; */
    grid-column-start: col-start;
    grid-column-end: col-end;
    padding: 25px;
    font-size: 14px;
    font-style: italic;

}

.copyright span {
    /* color: rgb(124, 124, 124); */
    /* -webkit-text-stroke: 0.2px white; */
    /* color: transparent; */
}








/* @media screen and (max-width: 600px) { */
@media (max-width: 768px) {
    header ul {
        position: fixed;
        width: 0px;
        opacity: 0;
        border: none;
        transition: width 1s ease-out;
        display: block;
        /* display: none; */
    }
    header ul.display {
        display: block;
        width: 250px;
        opacity: 1;
        top: 0px;
        padding-top: 45px;
        /* border: 2px solid; */
        height: 100%;
        background-color: #412710;
        z-index: 1;
        /* border-radius: 29px; */
        

    }
    header ul.display a{
        color: white;
        display: block;
        padding: 15px;
        margin-top: 30px;
        /* gap: 40px; */
    }

    header ul.display a:hover {
        background-color: wheat;
        color: #412710;
        display: block;

    }

    .dash-container {
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* border: 2px solid; */
    z-index: 1;
    /* display: block; */
    /* flex-direction: column; */
    justify-items: flex-end;
    align-items: center;
    /* position: fixed; */
    top: 5px;
    transition: all 1s;
    float: right;
}

    .dash1, .dash2, .dash3 {
    width: 28px;
    height: 3px;
    /* border: 2px solid; */
    margin: 7px;
    background-color: #412710;
    transform-origin: left;
    transform: rotate(0deg);
    opacity: 1;
    transition: all 0.5s ease-in-out;
    
}

 .rotate .dash1{
    transform: rotate(45deg);
    background-color: wheat;
}
.dash-container.rotate .dash2  {
    transform: translateX(50px);
    opacity: 0;
    background-color: wheat;

}
 .dash-container.rotate .dash3{
    transform: rotate(-45deg);
    background-color: wheat;
    
}

     .shop {
        width: 100%;
        height: 250px;
    }
    /* .container{
        height: auto;
    } */

    .section2 {
        /* height: 70vh; */
        /* border-radius: 30px; */
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr; */
        /* gap: ; */
    }
}



/* @media screen and (min-width: 601px) { */
@media (min-width: 768px) {
    .shop {
        width: 100%;
        height: 350px;
    }
    .section2 {
        /* width: 15%; */
        /* margin: inherit auto; */
        /* height: 70vh; */
        border-radius: 30px;
        /* overflow: hidden; */
        /* justify-content: space-between; */
        /* align-content: space-between; */
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* overflow: hidden; */
    }

    .stock-prices-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .stock img {
    max-width: 150px;
    max-height: 150px;
    /* position: relative; */
    
}

.down {
    display: flex;
    flex-direction: row-reverse;
}
}

@media screen and (min-width: 901px) {
    .shop {
        height: 400px;
        margin-bottom: 100px;
    }

    .products1 {
        width: 100%;
        /* border: 3px solid; */
        /* border-radius: 15px; */
        }

    

    .product-section {
    width: 100%;
    /* height: 525px; */
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 520px; */
    grid-column-gap: 20px;
    /* border: 2px solid; */
    
}
.section2 {
        /* width: 100%; */
        /* height: 490px; */
        /* margin-top: 30px; */
        /* border-radius: 15px; */
        /* opacity: 0.5; */
        /* transform-origin: left; */
        /* transform: translateX(100px); */
        /* transition: all 1s; */
        display: grid;
        /* grid-template-columns: 1fr; */
        /* grid-template-rows: 25rem 25rem; */
        /* align-content: space-between; */
        /* border: 2px solid; */
    }
    /* .container {
        opacity: 0;
    } */

    /* .background {
        border-radius: 15px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }

    .container {
        margin: 20px;
    } */

    .down {
    display: flex;
    flex-direction: row-reverse;
}

    
}


.cda {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
    transform: scale(1);
    /* width: 100%; */
    /* transform-origin: left; */
}
